.ChipColumn{
    
        width: 110px;
        text-align: center;
        padding: 6px;
        border-radius: 16px;
        color: #ffffff;
        font-size: 12px;
        font-family: 'GothamBook';
}