.TableLayout{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 10px 17px;
    gap: 7px;
    background-color: rgba(255, 255, 255,0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    align-self: center;
}