.TableHeading{
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 16px;
    gap: 8px;
    font-family: 'GothamBook';
    padding: 5px 12px 5px 0px;
    width: 100%;

    img {
        transition: transform 0.3s ease;
    }

    .rotate {
        transform: rotate(180deg);
    }
}